
* {
    box-sizing: border-box;
}

p {
    padding: 10px;
    padding-top: 40px;
}

h1 {
    margin-block: 30px;
    text-align: center;
}

.row {
    width: 100%;
    padding: 10px;
  }

section {
    width: 32.33%;
    height: auto;
    border: 3px solid black;
    background-color: gray; 
    margin-bottom: 10px; 
    margin-right: 10px;  
    float: left;
    position: relative;
}

#first .head {
    background-color: rosybrown;

}

#second .head{
    background-color: rgb(228, 116, 116);
}

#third .head {
    background-color: rgb(238, 238, 120);
}

/*.head {
    border: 2px  solid black;
    width: 150px; 
    padding: 5px;
    text-align: center;
    margin-top: -2px;
    margin-left: auto;
    margin-right: -2px;
    margin-bottom: 0%;
    
} */


.head {
    border: 2px  solid black;
    width: 150px; 
    padding: 5px;
    text-align: center;
    position: absolute; 
    top: -23px;
    right: -2px;
}



@media (min-width:768px) and (max-width:991px) {
    #third {
        width: 100%;
        margin-right: 20px;
    }
}
@media  (max-width:767px) {
    #third, #second, #first {
        width: 100%;
        
    }
}